[submodule "Source/DSP"]
	path = Source/DSP
	url = https://github.com/nspotrepka/DSP.git
[submodule "Source/imnodes"]
	path = Source/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "Source/imgui"]
	path = Source/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
